---
import { getCollection } from 'astro:content';
import Base from '../layouts/Base.astro';
import ProjectCard from '../components/ProjectCard.astro';

const projects = (await getCollection('projects', ({ data }) => !data.draft)).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
---

<Base>
  <div class="grid">
    {projects.map((project) => <ProjectCard project={project} />)}
  </div>
</Base>
